.Maindiv {
  background-color: #fafbff;
  padding: 1rem;
}
.managediv11 {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem 0 4rem;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgb(241, 241, 241);
  height: 5rem;
}
.managetext11 {
  margin-top: -1rem;
  line-height: 0.2;
}
